
<body>

	<!-- Header Div -->
	  <header>
	   
	  	<div class="navbar-fixed">
		  	  <nav>
			    <div class="nav-wrapper" style="background: linear-gradient(to right,#1e3c72, #2a5298);">
			      <a href="#" class="brand-logo" style="margin-left: 2%;
    font-size: 30px;
    font-family: sans-serif;letter-spacing: 2px;font-family: 'Product Sans', Arial, sans-serif;">UNITED POSTAL SERVICES</a>
			      
		</div>
	  </header>
	  <!-- Header Div Ends -->
	  <!-- Main div starts -->
	  <main>
	    <div class="parallax-container">
	      <div id = "home" class="section scrollspy">
	    	<div class="container ">
	    		<br>
	    		<br>
				<div class="row">
					<div class="col m4 offset-m4 s12">
					  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
						<div class="flipper" style="margin-left: 5%;margin-top: 15%">
					            <div class="front">			
					              	<div class="row">
						                <div class="col s12 m12" >
					                      <div class="card white" id="main-bit">
						                        <div class="card-content" >
						                          <h3 class="center pink-text" id="main-heading" style= "font-family: 'Product Sans', Arial, sans-serif;">United Postal Services<br><i class="fa fa-envelope" aria-hidden="true"></i></h3>
						                          <h6 class="center brown-text" id="line-height" ><b>100</b> years of serving people.</h6>
						                          
							                    </div>
					                      </div>
						                </div>
					               	</div>
					            </div>
						        <div class="back">			
						            <div class="row">
						              <div class="col s12">
						                <div class="card white" id="main-bit">
						                    <div class="card-content">
						                      <h4 class="center green-text" id="main-heading">DIGITAL ADVANCEMENT OF RURAL POSTAL SERVICES FOR NEW INDIA</h4>
						                    </div>				                  
						                </div>
						              </div>
						            </div>
						        </div>
						</div>
					  </div>
					</div>
				</div>

				
	      </div>
		  	<div class="parallax">
		  		<img src="/bit2.jpg" id="parallax-image">
		  	</div>
	     </div>
	    </div>
	    <div class="section"   style="background: linear-gradient(19deg, rgb(78, 67, 118) 0%, rgb(43, 88, 118) 100%);" id="box-shadow">
			<div class="row container">
			  <div id="vision" class="section scrollspy">
			   <h2 class="center white-text" id="main-heading"><i class="fa fa-bullseye fa-1x" aria-hidden="true"></i></h2>
			   <h3 class="center white-text" id="main-heading">Services</h3>
			   <br>
			   <div class="row">
				<div class="col s12 m4">
				  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
				            <div class="front">			
				              	<div class="row">
					                <div class="col s12 m12">
				                      <div class="card white" id="main-bit">
					                        <div class="card-content">
					                          <h3 class="center pink-text">First<br><i class="fa fa-check-square-o fa-2x" aria-hidden="true"></i></h3>
					                          <h6 class="center brown-text" id="line-height">Army Postal Service<br>Under Postal Certificate</h6>
						                    </div>
						                    <br>
				                      </div>
					                </div>
				               	</div>
				            </div>
				        <div class="back">			
				            <div class="row">
				              <div class="col s12">
				                <div class="card pink" id="main-bit">
				                    <div class="card-content">
				                      <h5 class="center white-text"><i class="fa fa-globe fa-2x" aria-hidden="true"></i></h5>
				                      <h6 class="center white-text" id="line-height"><br>The Army Postal Service (APS), functions as a government-operated military mail system in India.<br> </h6>
				                    </div>				                    				                  
				                </div>
				              </div>
				            </div>
				        </div>
					</div>
				  </div>
				</div>
				<div class="col s12 m4">
				  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
				            <div class="front">			
				              	<div class="row">
					                <div class="col s12 m12">
				                      <div class="card white" id="main-bit">
					                        <div class="card-content">
					                          <h3 class="center pink-text">Second<br><i class="fa fa-bolt fa-2x" aria-hidden="true"></i></h3>
					                          <h6 class="center brown-text" id="line-height">Registered Post, Parcel Post, Speed Post </h6>
						                    </div>
						                    <br>
				                      </div>
					                </div>
				               	</div>
				            </div>
				        <div class="back">			
				            <div class="row">
				              <div class="col s12">
				                <div class="card pink" id="main-bit">
				                    <div class="card-content">
				                      <h5 class="center white-text"><i class="fa fa-rocket fa-2x" aria-hidden="true"></i></h5>
				                      <h6 class="center white-text" id="line-height"><br><br> Parcel- Traditional ordinary service for mailing goods which shall not contain prohibited items, shall be properly packed, max weight allowed 4 kgs.</h6>
				                    </div>
				                   			                  
				                </div>
				              </div>
				            </div>
				        </div>
					</div>
				  </div>
				</div>
				<div class="col s12 m4">
				  <div class="flip-container" ontouchstart="this.classList.toggle('hover');">
					<div class="flipper">
				            <div class="front">			
				              	<div class="row">
					                <div class="col s12 m12">
				                      <div class="card white" id="main-bit">
					                        <div class="card-content">
					                          <h3 class="center pink-text">Third<br><i class="fa fa-th-list fa-2x" aria-hidden="true"></i></i></h3>
					                          <h6 class="center brown-text" id="line-height">Courier Services<br>International Money Transfer</h6>
						                    </div>
						                    <br>
				                      </div>
					                </div>
				               	</div>
				            </div>
				        <div class="back">			
				            <div class="row">
				              <div class="col s12">
				                <div class="card pink" id="main-bit">
				                    <div class="card-content">
				                      <h5 class="center white-text"><i class="fa fa-calendar fa-2x" aria-hidden="true"></i></h5>
				                      <h6 class="center white-text" id="line-height"><br><br>Traditional registration service for mailing goods with all the above conditions except max weight allowed 20 kgs.</h6>
				                    </div>
				                    				                  
				                </div>
				              </div>
				            </div>
				        </div>
					</div>
				  </div>
				</div>
			  </div>
	    	</div>
	      </div>
	      </div>
		 </div>
		</div>
		</div>
		  <!--  <div class="parallax-container">
    	   		<div class="parallax"><img src="bit4.png"></div>
 		   </div> -->
	       <div class="section" id="box-shadow">
		    <div class="row container">
		      <h2 class="header" style="font-weight: 600">How it Works?</h2>
		      <div id="work" class="section scrollspy">

			      <p class="grey-text text-darken-3 lighten-3">Just go through these three simple steps and then you too can use united postal services</p>

			      <div class="section">
						<div class="row">
						  	<div class="col s12 m4">
							  	<div class="icon-block">
							  	  	<h2 class="center brown-text">
							  	  	  <i class="fa fa-id-card-o fa-lg" aria-hidden="true"></i>
							  	  	</h2>
							  	  	<h5 class="center">Verify your Id</h5>
							  	  	  <p class="light" id="line-height">
							  	  	  	 Verify your ID and your bank details by simply clicking a photo of your PAN card.
							  	  	  </p>
						  	    </div>
						  	</div>
						  	<div class="col s12 m4">
						  	  <div class="icon-block">
							  	  	<h2 class="center brown-text">
							  	  	  <i class="fa fa-credit-card fa-lg" aria-hidden="true"></i>
							  	  	  <!-- <i class="fa fa-money fa-lg" aria-hidden="true"></i>
							  	  	  <i class="fa fa-cc-visa fa-lg" aria-hidden="true"></i> -->
							  	  	</h2>
							  	  	<h5 class="center">Make Payment</h5>
							  	  	  <p class="light" id="line-height" >
							  	  	  	For availing any service make payment to our bank accounts, delivery executive will take parcel from your place.
							  	  	</p>
						  	  </div>
						  	</div>
						  	<div class="col s12 m4">
						  	  <div class="icon-block">
						  	  	<h2 class="center brown-text">
						  	  	  <i class="fa fa-envelope" aria-hidden="true"></i>
						  	  	</h2>
						  	  	<h5 class="center" >Wait till confirmation</h5>
						  	  	  <p class="light" id="line-height" >
						  	  	  	All Registered, Express, EMS  can be tracked and traced.
						  	  	  </p>
						  	  </div>
						  </div>
					  </div>
					</div>
				  <a id = "button-new">Learn More</a>
				</div>	  
			</div>
		   </div>
		   

 	  </main>

</body>
</html>